:root {
    --darkblue: #050A30;
    --blue: #143C72;
    --lightblue: #B1D4E0;
    --whiteblue: #F4F6FC;
}
  
/* Container to set the the back and front position of the card*/

#introduction-img-background{
    background-image: url("img/north.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#introduction-gradient-background{
    background: linear-gradient(to top, rgba(244, 246, 252,0.4), rgba(244, 246, 252,0.8), rgba(244, 246, 252,0.9), rgba(244, 246, 252,1));
}