:root {
    --darkblue: #050A30;
    --blue: #143C72;
    --lightblue: #B1D4E0;
    --whiteblue: #F4F6FC;
}

#navbar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10px;
  margin: 10px;
  align-items: center;
  z-index: 10;
}

.button {
    background-color: var(--blue);
    border-color: var(--lightblue);
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    color: var(--lightblue);
}

.button:hover {
    background-color: var(--lightblue);
    border-color: var(--blue);
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    color: var(--blue);
}

.button h2 {
    margin: 10px;
}