:root {
    --darkblue: #050A30;
    --blue: #143C72;
    --lightblue: #B1D4E0;
    --whiteblue: #F4F6FC;
}

body{
    background-color: var(--whiteblue);
    width: 100%;
    margin:0;
    padding:0;
}

#main{
    background-color: var(--whiteblue);
    width: 100%;
}

#menu{
    background-color: var(--darkblue);
    width: 100%;
}

.title {
    color: var(--blue);
}

.subtitle {
    color: var(--darkblue);
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}