:root {
    --darkblue: #050A30;
    --blue: #143C72;
    --lightblue: #B1D4E0;
    --whiteblue: #F4F6FC;
}
  
/* Container to set the the back and front position of the card*/

#order-img-background{
    background-image: url("https://raw.githubusercontent.com/LazyKeru/GLO-3102/main/laboratoire1/img/burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#order-gradient-background{
    background: linear-gradient(to right, rgba(244, 246, 252,1), rgba(244, 246, 252,0.5));
}

/* ubermanger button style */

.ubermanger-outside{
    display: flex;
    background-color: green;
    border-radius: 1rem;
    align-items: center;
    align-content: center;
    width: 100%;
}

.ubermanger-outside:hover{
    background-color: lightgreen;
}
.ubermanger-outside:active{
    box-shadow: inset 0.75rem 0.5rem 1rem green;
}

.ubermanger-inner{
    display: flex;
    margin: 5%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.ubermanger-inner h5 {
    color: white;
    margin: 0%;
}

.ubermanger-inner h2 {
    color: black;
    margin: 0%;
}

.ubermanger-inner b {
    color: white;
    margin: 0%;
}